#gridView                               {
    background                          :   #ddd;

}

#tileBox                                {
    height                              :   256px;
    background                          :   #eee;
    padding                             :    2px 2px  2px  2px;
    margin                              :   10px 0px 10px 10px;
    overflow                            :   hidden;
}

#tileBox button                         {
    position                            :   relative;
    top                                 :   48px;
    right                               :   -20%;
    padding                             :   4px 7px;
    cursor                              :   pointer;
    border                              :   none;
    display                             :   inline-block;
    font-size                           :   16px;
    border-radius                       :   4px;
}

#tileBox p                              {
    position                            :   relative;
    top                                 :   56px;
}

#tileBox div                            {
    background                          :   #eee;
    top                                 :   10px;
    left                                :   0px;
    width                               :   32px;
}