
#gridView                               {
    background                          :   #F0F;
    
}

#gridView ul                            {
    background                          :   #EEE;
    list-style                          :   none;
    display                             :   inline-block;
}

#gridView ul li                         {
    background                          :   #CCC;
    display                             :   inline-block;
    padding                             :    3px  3px  3px  3px;
    margin                              :   10px 10px 10px 10px;
    height                              :   192px;
    width                               :   128px;
}

#gridView button                        {
    position                            :   relative;
    top                                 :   25%;
    left                                :   25%;
}
